@use './variables' as *;

@mixin button-base {
  border-radius: 7px;
  border: 2px solid $color-white;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  min-height: $control-height;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin board-hover($color) {
  &:hover {
    background-color: $color;
  }
}
