// Variables
$space-2: 12px;
$space-3: 16px;

$control-height: 44px;

// Colours
$color-purple: #646cff;
$color-text: rgba(255, 255, 255, 0.87);
$color-white: white;
$color-enemy: rgb(209, 80, 25);
$color-cell: #FBFEF9;
$color-border: #333;
$color-ship: steelblue;
$color-legend: #f4f4f4;

// Theme colors
$color-porcelain: #FBFEF9;
$color-teal-blue: #0E79B2;
$color-rosewood-pink: #BF1363;

// Typography
$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
