/* Root / Global Styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 7px;
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

nav {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
}
nav a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(146, 78, 209);
}
.pick-and-fire {
  display: flex;
  gap: 16px;
  padding-bottom: 40px;
}

.game-board {
  display: flex;
  gap: 24px;
}

/* TODO: Improve naming for boards */
.board {
  display: grid;
  user-select: none;
  gap: 0;
}

#player-board {
  background-color: rgb(146, 78, 209);
}

#enemy-board {
  background-color: rgb(209, 80, 25);
}

.grid-cell,
.legend,
.corner {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.grid-cell {
  background-color: #e0e0e0;
  border: 1px solid #333;
  cursor: pointer;
  color: white;
  transition: background 0.2s;
}

#player-board > .grid-cell:hover {
  background-color: rgb(146, 78, 209);
}

#enemy-board > .grid-cell:hover {
  background-color: rgb(209, 80, 25);
}

/* Ship placement */
.ship {
  background-color: steelblue;
}

/* Legend & Corner Cells */
.legend,
.corner {
  color: #f4f4f4;
}
